.btn-back-custom {
  color: #0d6efd;
  border: 1px solid #0d6efd;
  transition: all 0.3s ease;
}

.btn-back-custom:hover {
  background-color: #0d6efd; /* Your specific color */
  color: #ffffff;
  border-color: #0d6efd;
}